/*-------------------------------------------------------------------------------------------------
General Styles
-------------------------------------------------------------------------------------------------*/
body{
	background-color:black;
	padding-top: 50px; /*padding for nav bar*/
	}

input{
	background-color:#CCCCCC;
	border: none;
	color: blue;
	 width: 3em;
	}
	
li{
	padding:0 1.2em;
	}

ul li {
	display:inline;
	}

h2{
	font-size: 1.5em;
	}

th{
	width: 8em;
	}
	
td{
	width: 8em;
	}
/*-------------------------------------------------------------------------------------------------
Classes and Ids
-------------------------------------------------------------------------------------------------*/

#wrapper {
	width:960px;
	margin: 2em auto;
	}
#wrapper2 {
	background-color:#CCCCCC;
	padding: 0 3em;
	border-radius:20px;
	}
#ss{
	width:20%;
	}

#ap{
	width:20%;
	float:left;
	}	
	
.table > thead > tr > th {
	border: none;
	}

.form-control{
	width: 10%;
	}
	
.form-inline {
    margin-bottom: 4em;
}

