/*-------------------------------------------------------------------------------------------------
Layout
-------------------------------------------------------------------------------------------------*/
#wrapper {
	width:960px;
	margin: 2em auto;
	}
#wrapper2 {
	background-color:#CCCCCC;
	padding: 0 3em;
	border-radius:20px;
	}
body{
	background-color:black;
}
input{
	background-color:#CCCCCC;
}


ul li {
	display:inline;
	}

li{
	padding:0 1.2em;
	}

h2{
	font-size: 1.5em;
	}

input{
	border: none;
	color: blue;
	}

th{
	width: 8em;
	}
.table > thead > tr > th {
	border: none;
}	

td{
	width: 8em;
	}
input {
    width: 3em;
	}
.form-control{
	width: 10%;
	}

#ss{
	width:20%;
}

#ap{
	width:20%;
	float:left;
}
body { padding-top: 50px; /*padding for nav bar*/

}
